@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Lexend+Deca:wght@100&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.body{
    background-color: #232323
}

.window{
    background-image: url(/images/background-h.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: brightness(0.8);
    width: 1350px;
    height: 724px;
    border: 1px solid #ccc;
    border-bottom: none;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    margin-top:25px;
    margin-left: 125px;
    margin-right: 125px;
    color: #00bfff;
}

.window::before{
}

window.hover{
    background-color: #ebebeb;
}

window.active{
    background-color: #ccc;
}

.version{
    display: flex;
    justify-content: start;
    color: #fcfcfc;
}

.version h3{
    font-size: 11px;
}

.name-nav{ 
    display: flex;
    justify-content: space-between;
}

.Navbar{
}

.ul{
    display: flex;
    flex-direction: row;
    font-size: 20px;
    border-radius: 5%;
    background-color: #000000;
    
}

.ul li{
    margin-left:50px;
    margin-right: 50px;
    list-style: none;
}

.ul li a{
    color: #f6f4f4;
    text-decoration: none;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.ul li a:hover{
    color: #00bfff;
}

.img{
    margin-top: 10%;
    border-radius: 50%;
}

.div-title{
    display: flex;
    justify-content: start;
    align-items: start;
    font-family: 'Lexend Deca', sans-serif;
    color: #ffffff;
    margin-top: 10px;
}

.title{
    font-size: 22px;
    line-height: 39px;
    font-family: "Lexend Deca";
    margin-bottom: 4px;
    margin-left: 22px;
}

.data{
text-align: left;
}

.data h2{
    font-family: 'Audiowide', cursive;
    color: #00bfff;
    font-weight: bold;
    font-size: 31px;
    margin-top:120px ;
    margin-left: 22px;
}

.data p{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    font-family: 'Audiowide', cursive;
    font-size: 22px;
    color: #f6f4f4;
    margin-left: 22px;
}